@inject IHttpContextAccessor _httpContextAccessor

@model HomeViewModel

@{
	ISession session = _httpContextAccessor.HttpContext!.Session;



	var sessionLoginResult = session.SessionLoginResult();
}


@if (!sessionLoginResult.IsAuthenticated)

{
	@if (string.IsNullOrEmpty(Model.AttestJson))

	{
		<form method="post" asp-action="LoginStep1">
			<div class="container">

				<div class="row">
					<div class="col-md-12">
						<h5>1. Velg miljø (kun test er tilgjengelig): </h5>

						<div>
							<select asp-for="EnvironmentId"
									asp-items="@(new SelectList(PasientvalgViewModel.EnvironmentList, nameof(OptionPair.Id), nameof(OptionPair.Label)))"
									class="w-100">
							</select>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<br />

					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<h5>2. Velg lovverk (scope for å hente dokumentliste): </h5>

						<div>
							<select asp-for="DocumentListScopeId"
									asp-items="@(new SelectList(PasientvalgViewModel.DocumentListScopeList, nameof(OptionPair.Id), nameof(OptionPair.Label)))"
									class="w-100">
							</select>
						</div>

					</div>
				</div>


				<div class="row">
					<div class="col-md-12">
						<br />
						<h5>3. Velg: </h5>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div>
							<strong>Virksomhet</strong>
						</div>
						<div>
							<select asp-for="OrganizationId"
									asp-items="@(new SelectList(HomeViewModel.OrganizationList, nameof(OptionPair.Id), nameof(OptionPair.Label)))"
									class="w-100">
							</select>
						</div>
					</div>
					@* <div class="col-md-4">
			<div>
			<strong>Bruker</strong>
			</div>
			<div>
			<input asp-for="HealthcarePersonellUserId" class="w-100" value="22047800106" />
			</div>
			</div> *@
					<div class="col-md-6">
						<div>
							<strong>Autorisasjon</strong>
						</div>
						<div>
							<select asp-for="AuthorizationId"
									asp-items="@(new SelectList(HomeViewModel.AuthorizationList, nameof(OptionPair.Id), nameof(OptionPair.Label)))"
									class="w-100">
							</select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 text-center pt-3">
						<button type="submit" class="btn btn-primary" formaction="/Home/Login">Logg inn med HelseID @* <i class="bi-box-arrow-in-right"></i>  &rarr; *@ </button> eller
						<button type="submit" class="btn btn-primary">Rediger attest og Logg inn med HelseID  @* <i class="bi-box-arrow-in-right"></i>  &rarr; *@ </button>

					</div>
				</div>

			</div>
		</form>
	}

	else

	{
		@* Et unødvendig ekstra steg med mulighet til å redigere attesten direkte for man logger inn *@
		<form method="post" asp-action="LoginWithCustomizedAttest">
			<div class="container">

				<div>
					<h2 class="text-center">@Model.OrganizationName</h2>
				</div>

				<div class="fs-4">
					Bruker: @Model.HealthcarePersonellUserId &nbsp;&nbsp; Autorisasjon: @Model.AuthorizationName
				</div>

				<div class="row">
					<div class="col-md-12">
						<br />

						<p><strong>Attest:</strong></p>

						<textarea name="attestJson" class="w-100" rows="20">@Model.AttestJson</textarea>

					</div>
				</div>

				<div class="row">
					<div class="col-md-12 text-center pt-3">
						<a href="/" class="btn btn-primary"> &larr; Tilbake</a> &nbsp; &nbsp; &nbsp; &nbsp;
						<button type="submit" class="btn btn-primary">Logg inn med HelseID @* <i class="bi-box-arrow-in-right"></i>  &rarr; *@ </button>
					</div>
				</div>
			</div>
		</form>
	}
}

else

{
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="text-center fs-3">
					Bruker: @sessionLoginResult.Name (@sessionLoginResult.PersonId)&nbsp;&nbsp;&nbsp; Autorisasjon: @sessionLoginResult.AuthorizationName
				</div>

				<div class="text-center fs-3">
					Pasient:
					@if (string.IsNullOrEmpty(sessionLoginResult.PatientName))
					{
						<span>
							@sessionLoginResult.PatientId
						</span>
					}
					else
					{
						<span>@sessionLoginResult.PatientName (@sessionLoginResult.PatientId)</span>
					}

				</div>

				<div class="text-center fs-3">
					Lovverk/scope for å hente dokumentliste: @sessionLoginResult.DocumentListScopeName
				</div>

				@if (sessionLoginResult.DocumentListScopeId == (int)DocumentListScopeEnum.Kjernejournalforskriften)
				{
					<div class="text-center fs-3">
						Grunnlag: @sessionLoginResult.GrunnlagName
					</div>
				}
				else
				{
					
				}

				<div class="text-center fs-3">
					<p>
						<a asp-action="pasientvalg" class="btn btn-primary"> &larr; Bytt pasient </a>
						<a href="/documents" class="btn btn-primary">Åpne pasientens journaldokumenter i @sessionLoginResult.EnvironmentName</a>
					</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="text-center fs-3">
					<p>
						<a asp-controller="Saml" asp-action="ShowSamlAssertion" class="btn btn-primary"> Vis SAML billett &rarr;</a>
					</p>
				</div>
			</div>
		</div>

	</div>

}

